<mat-card (click)="navigate(card.id)" class="card">
  <mat-card-content
    class="card-content"
    [ngStyle]="{
      background: 'linear-gradient(180deg,' + pkmnType[0].color + ',#fff 85%)'
    }"
  >
    <p class="pkmn-id">Nº {{ card.id }}</p>
    <img
      class="pkm-img"
      [src]="card.sprites.other['official-artwork'].front_default"
    />
    <p class="pkmn-name">{{ card.name }}</p>

    <div class="bottom-card">
      <div
        [ngStyle]="{
          'background-color': typeData.color,
          'box-shadow': '0 0 20px' + typeData.color
        }"
        class="type-badge"
        *ngFor="let typeData of pkmnType"
      >
        <img [src]="typeData.url" />
      </div>
    </div>
  </mat-card-content>
</mat-card>
