.card {
  display: flex;
  align-items: center;
  text-align: center;
  width: 20rem;
  height: 30rem;
  margin: 2rem;
  color: black;
  p {
    font-size: 1.5rem;
  }
  img {
    background-color: #525252;
    border-radius: 9px;
    /* width: 84%; */
    padding: 3rem;
    width: 11rem;
  }
  transition: 0.3s;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
}
