main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.pkmCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
}
